.part12_off {
    font-size: 78px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 8px;
}

.part12_day {
    color: rgba(255, 0, 0, 1);

    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    /* margin-bottom: 5px; */

}

.part12_all {
    color: rgba(7, 2, 17, 1);

    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 18px;
}
.part12-image{
   text-align: center;
}
.part12_img{
    width: 550px;
    height: 300px;
    padding-left: 300px;
    
}