.section6 {
    margin-top: 100px;
}

.part6_what {
    color: rgba(7, 2, 17, 1);

    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: center;

}

.part6_holiday {
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.part6_des {
    color: rgba(7, 2, 17, 0.6);

    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 80px;
}

.part6_flex_img {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.part6_first_img {
    width: 600px;
    height: 550px;
    margin-bottom: 0px;
}

.part6_second_img {
    width: 200px;
    height: 200px;
}

.part6_bottom_img {
    width: 1100px;
    height: 170px;
    border-top-right-radius: 10px;

}
.part6_bottom_image{
    display: block;
    padding-top: px;
    margin-top: 0px;
}
